* {
  -webkit-tap-highlight-color: transparent;
}

.btn {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body{
    text-align: center;
}

h1{
    margin-bottom: -5px;
    margin-top: 30px;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
 
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin:20px;
    border: 5px solid black;
    cursor: pointer;
}

.c1{
    background-color: #93beea;
}
.c2{
    background-color: #2d4093;
}
.c3{
    background-color: #8d8cd7;
}
.c4{
    background-color: #2c6387;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(9, 241, 202);
}

iframe{
    margin-bottom: 50px;
}

.btn-start{
    height: 50px;
    width: 120px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.btn-start:hover{
    background-color: rgb(6, 97, 6);
}

.footer{
    display: flex;
    height: 50px;
    font-size: 15px;
    margin: -8px;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
   iframe{
    width: 620px; 
    height: 355px;
   }
}

@media (max-width: 680px) {
   iframe{
    width: 520px; 
    height: 305px;
   }
}

@media (max-width: 580px) {
    .btn{
    height: 150px;
    width: 150px;
    margin:15px;
    border: 4px solid black;
    margin-top: 30px;
    }

    iframe{
    width: 420px; 
    height: 235px;
   }

   h1{
    margin-bottom: -5px;
    margin-top: 80px;
}
}

@media (max-width: 480px) {
    iframe{
    width: 370px; 
    height: 210px;
    margin-bottom: 30px;
   }

   .btn-start{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
    }

    .footer{
        height: 30px;
        font-size: 10px;
    }
}